body {
    margin:10px;
}

td, th {
    padding:4px;
}

.centerBlock {
    margin: 5px auto;
}

.btn-info {
    margin: 5px;
}

#analysis {
    text-align: center;
}

#selectFeatures {
    margin-left:10px;
}